.carousel_btn {
    background-color: #FFC67E;
    position: relative;
    border: 0;
    padding: 0.8rem 1.7rem;
    width: 12rem;
    font-size: 1.3rem;
    border-radius: 6rem;
    font: lato;
    }