.footer {
    background-color: #040521;
    display: flex;
    justify-content: space-between;
    place-items: center;
    border-top: 0.188rem solid white;
    padding: 1rem 2rem;
    width: 100%;
}

.channelLogo {
    margin-left: 5rem;
}
