.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.625rem;
  font: 600 1rem "Montserrat", sans-serif;
  background-color: #040521;
  width: 100%;
  }

  .menuLeft {
  display: flex;
  gap: 3.5rem;
  color: white;
  }

  .logoHeader {
    height: 6rem;
  }

  .menuRight {
    display: flex;
    gap: 2rem;
  }


