@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  --general-background: #040521;
  --secondary-color: #FFC67E;
  --tertiary-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 1728px;
  height: 1117px;
  color: var(--tertiary-color);
  background-color: var(--general-background);
  font-family: lato;
  margin: 0;
  position: relative;
}

main{
  margin: 0 2rem 0 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 4rem;
  padding: 0 4.313rem 4.313rem 0;
  margin-top: 3rem;
}